header {
    text-align: center;
    background-color: #282828;
    padding-top: 5px;
    padding-bottom: 5px;
}

#headerTitle{
    color: white;
}

#input{
    float: left;
}

.container {
    float: left;
    margin-top: 10px;
    background-color: #d3d3d3;
    width: auto;

}

img {
    height: 25px;
    width: 25px;
}

#currentWeather {
    background-color:black;
    text-align: center;
    margin-top: 10px;
    
}

#fiveDayForecast {
    background-color:black;
    text-align: center;
    margin-top: 5px;
    
}