header {
    text-align: center;
    background-color: #282828;
    padding-top: 5px;
    padding-bottom: 5px;
}

#headerTitle {
    color: white;
}

#input {
    float: left;
}

.container {
    float: left;
    margin-top: 5px;
    background-color: #ededed;
    width: 45%;
    height: 100px;
    border-radius: 5px;
    border: black;
    border-style: solid;

}

img {
    height: 25px;
    width: 25px;
}

#currentWeather {
    background-color: #ededed;
    text-align: center;
    margin-top: 100px;
    margin: auto;
    border-radius: 5px;
    border: black;
    border-style: solid;
    width: 50%;
    margin-left: 50%;
    margin-top: 5px;

}

#fiveDayForecast {
    background-color: #ededed;
    text-align: center;
    margin: auto;
    width: 50%;
    float: right;
    border-radius: 5px;
    border: black;
    border-style: solid;

}

p {
    text-align: center;
}