header {
    text-align: center;
    background-color: #282828;
    padding-top: 5px;
    padding-bottom: 5px;
}

#headerTitle {
    color: white;
}

#input {
    float: left;
}

.container {
    float: left;
    margin-top: 5px;
    background-color: #ededed;
    width: 30%;
    height: 100px;
    border-radius: 5px;
    border: black;
    border-style: solid;

}

#img {
    height: 25px;
    width: 25px;
}

#currentWeather {
    background-color: #ededed;
    /* text-align: center; */
    /* margin: 5px auto auto; */
    border-radius: 5px;
    border: black;
    border-style: solid;
    width: 70%;
    float: left;
}

#fiveDayForecast {
    background-color: #ededed;
    text-align: center;
    margin: auto;
    width: 70%;
    float: right;
    border-radius: 5px;
    border: black;
    border-style: solid;
    display: flex;
}

p {
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
}

.divClasses {
    border: black solid 2px;
    /* display: inline-block; */
    width: 20%;
    margin: 5px;
    background-color: #2100d494;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}
